In [11]:
import basketball_ref_scraper as brs
from basketball_ref_scraper import teams
from basketball_ref_scraper import constants
from basketball_ref_scraper import players
from basketball_ref_scraper.constants import TEAM_TO_TEAM_ABBR
import lxml

In [12]:
team = TEAM_TO_TEAM_ABBR["ATLANTA HAWKS"]
year = 2022
roster = brs.teams.get_roster(team, year)
roster.dropna()
roster.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
0,5,Cat Barber,PG,6-2,190,1994-07-25,US,R,NC State
1,13,Bogdan Bogdanović,SG,6-6,220,1992-08-18,RS,4,NaN
2,45,Chaundee Brown Jr.,SG,6-5,215,1998-12-04,US,R,"Wake Forest, Michigan"
3,15,Clint Capela,C,6-10,240,1994-05-18,CH,7,NaN
4,20,John Collins,PF,6-9,235,1997-09-23,US,4,Wake Forest

In [17]:
player = "Trae Young"
pstats = brs.players.get_player_splits(player, 2022)
print(pstats)

You searched for "Trae Young"
8 results found.
       Split        Value    MP   PTS  TRB   AST
2      Place         Home  34.8  30.2  3.8   9.5
3      Place         Road  35.0  26.5  3.7   9.9
5   All-Star          Pre  34.4  27.8  3.9   9.3
6   All-Star         Post  36.0  29.6  3.4  10.6
8     Result          Win  34.2  31.2  3.9   9.4
..       ...          ...   ...   ...  ...   ...
72  Opponent   Sacramento  24.7  17.0  3.0  10.0
73  Opponent  San Antonio  32.3  24.5  5.5  11.0
74  Opponent      Toronto  36.7  29.7  4.7  13.0
75  Opponent         Utah  34.7  24.0  2.0   6.5
76  Opponent   Washington  35.5  24.0  3.3   9.5

[65 rows x 6 columns]

c:\Users\jonat\OneDrive - University of Southern California\Documents\USC\Quant\Sports Betting\Sports-Betting\basketball_ref_scraper\players.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Unnamed: 0_level_0','Split'][i] = df['Unnamed: 0_level_0','Split'][i-1]