In [10]:
import basketball_ref_scraper as brs
from basketball_ref_scraper import teams
from basketball_ref_scraper import constants
from basketball_ref_scraper.constants import TEAM_TO_TEAM_ABBR
import lxml

In [8]:
team = TEAM_TO_TEAM_ABBR["ATLANTA HAWKS"]
year = 2022
roster = brs.teams.get_roster(team, year)
roster.dropna()
roster.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE
0,5,Cat Barber,PG,6-2,190,1994-07-25,US,R,NC State
1,13,None,SG,6-6,220,1992-08-18,RS,4,NaN
2,45,None,SG,6-5,215,1998-12-04,US,R,"Wake Forest, Michigan"
3,15,Clint Capela,C,6-10,240,1994-05-18,CH,7,NaN
4,20,John Collins,PF,6-9,235,1997-09-23,US,4,Wake Forest

In [12]:
team_stats = brs.teams.get_team_stats(team, year)
team_stats.head()

NameError: name 'year' is not defined